base/this/this.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="t">
    <xs:complexType>
      <xs:attribute name="ref" type="xs:string" use="required" />
      <xs:attribute name="type" type="xs:string" use="required" />
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element >
  <xs:element name="p">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="type" type="xs:string" use="required" />
      <xs:attribute name="value" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element >
  
  <xs:element name="this">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="p" />        
        <xs:element maxOccurs="unbounded" ref="t" />
        <xs:element maxOccurs="unbounded" name="a">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" ref="t" />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="type" type="xs:string" use="required" />
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
    
  </xs:element>
</xs:schema>